@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&display=swap');

.test {
  background-color: red;
}
.paragraph-test {
  background-color: green;
}
.header {
}
.content {
}
.footer {
}
.banner-section {
  /* background-color: #4CAF4F; */

  /* background-image: url(../images/portfolio-1.png);
    min-height: 400px;
    background-repeat: repeat; // repeat no-repeat repeat-x repeat-y */

  /* background-image: url('../images/portfolio-3.png');
    min-height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed; /* scroll fixed */

  /* background-image: url('../images/portfolio-3.png');
    min-height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;   */

  /* background-image: url('../images/portfolio-3.png');
    min-height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 200px 100px; */

  /*
    background-image: url('../images/GettyImages-1264981227@2x.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover; //auto - cover - contain "" */

  /* background-image: url('../images/GettyImages-1264981227@2x.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: auto;  */

  /* background-image: url('../images/GettyImages-1264981227@2x.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: 300px 500px; */
}
/***************************************/
.our-story {
  background-color: lightblue;
  width: 500px;
  /* padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px; */

  /* margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px; */

  /* border-width: 5px;
    border-color: red;  
    border-style: solid; 
    */

  /* border: 10px solid black; */
  /* outline: #4CAF50 solid 10px; */
}
/***************************************/
/*
block div: 
 - take full width
 - adding break lines
 - make padding and margin - width - height

inline div: 
- didn't adding break lines
- didn't take width and height
- only add and margin [left - right]

inline-block div: 
 - make padding and margin - width - height

*/

/* .test-sec {
  background-color: red;
  width: 100px;
  height: 200px;
  padding: 20px;
  display: inline-block;
} */

/* .test-span {
  background-color: red;
   width: 100px;
    height: 200px;
   padding: 20px;
} */
/* .test-sec-three{
  background-color: red;
  width: 100px;
   height: 200px;
   display: none; 
   visibility: visible;
} */

/***************************************/
/* .visibility-sec {
    background-color: red;
    margin: 10px 0;
    visibility: hidden;
} */
/***************************************/
/* .sec-one,
.sec-two,
.sec-three {
  padding: 15px;
  margin: 12px 0;
  color: #fff;
} 

.sec-one {
    background-color: red;
}

.sec-two {
    background-color: green;
}

.sec-three {
    background-color: blue;
} */
/***************************************/
/* .nesting-sec h2 {
  background-color: green;
  color: red;
  padding: 20px 45px;
}
.nesting-sec .special {
  color: yellow;
} */
/****************width & min-width & max-width & height & min-height  & auto***********************/
.dimension-sec {
  background-color: red;
  padding: 10px;
  display: inline-block;
  max-width: 500px;
  max-width: 400px;
  width: 500px;
  min-height: 300px;
}

/***************overflow************************/
/* .overflow-sec {
  width: 500px;
  height: 250px;
  background-color: #EEE;
  margin: 20px auto;
  border-radius: 6px;
  overflow: scroll;
}  */
/****************text-shadow & text colors & shadows & decorations***********************/
/* .shadow-sec {
  background-color: #eee;
  color: red;
  text-shadow: 2px 0px 4px green;
  text-decoration: underline;
  box-shadow: 2px 0px 4px #e4e4e4;
} */
/***************************************/

/*****************
- spaces
- inheritance
- font & typographic
- cursors
**********************/
/* .text-spaces-sec {
  background-color: #f9f9f9;
  word-spacing: 5px;
  letter-spacing: 3px;
} */

/* .inheritance-sec p{
  color: green;
} */

/* .typographic-sec {
  font-family: "Rubik", sans-serif , Times, serif;
  background-color: #EEE;
  padding: 10px;
}
.typographic-sec h2:hover{
  cursor: pointer;
} */
/****************floating & clear***********************/
.products {
  background-color: green;
  padding: 10px;
  /* overflow: hidden; */
  /* height: 100px; */
}
/* .products .product{
  padding: 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 25%;
} */

.products .product {
  padding: 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 25%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

/***************************************/
.element-one,
.element-two {
  width: 100px;
  height: 200px;
  padding: 10px;
}

.element-one {
  background-color: red;
}
.element-two {
  background-color: red;
}
/***************************************/

/***************************************/

/***************************************/
/* .one span {
  display: inline-block;
  background-color: red;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.two::first-letter {
  display: inline-block;
  background-color: red;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.three::first-line {
  font-weight: bold;
  color: green;
}
::selection {
  background-color: black;
  color: yellow;
} */
/***************************************/
