body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 20px;
    background-color: #f0f0f0;
}

.service-item {
    background: #8a2be2;
    color: white;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    width: 250px;
    box-sizing: border-box;
    /* position: relative; */
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-icon {
    font-size: 2em;
    margin-bottom: 15px;
}

.service-content h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
}

.service-content p {
    font-size: 10;
    margin: 0;
}

.service-number {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.1);
}
