body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
.container{
  text-align: center;
  padding: 50px 20px;
}
.all-boxes{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box:hover {
  transform: translateY(-10px);
}
.box{
  background-color: #fff5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

