@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
padding: 0px;
margin: 0px;
}
body {
  height: 4000px;
}
.test {
  background-color: red;
}
.paragraph-test {
  background-color: green;
}
.header {
}
.content {
}
.footer {
}
.banner-section {
  /* background-color: rgb(21 152 239 / 69%); */

  /* background-image: url(../images/portfolio-1.png);
  min-height: 400px;
  background-repeat: no-repeat;  */
  /* // repeat no-repeat repeat-x repeat-y */

  /* background-image: url('../images/portfolio-3.png');
    min-height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed; /* scroll fixed */
  /* background-color: red;
  background-image: url('../images/portfolio-3.png');
     height: 2000px;
     width: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;   */

  /* background-image: url('../images/portfolio-3.png');
    min-height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 200px 100px; */

  /*
    background-image: url('../images/GettyImages-1264981227@2x.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover; *auto - cover - contain "" 
    */

  /* background-image: url('../images/GettyImages-1264981227@2x.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: auto;  */

  /* background-image: url('../images/GettyImages-1264981227@2x.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: 300px 500px; */
}
/***************************************/
.our-story {
  background-color: lightblue;
  width: 500px;
  /* padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px; */

  /* margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px; */

  /* border-width: 5px;
    border-color: red;  
    border-style: solid; 
    */

  /* border: 10px solid black; */
  /* outline: #4CAF50 solid 10px; */
}
/***************************************/
/*
block div: 
 - take full width
 - adding break lines
 - make padding and margin - width - height

inline div: 
- didn't adding break lines
- didn't take width and height
- didn't take padding top
- only add and margin [left - right]

inline-block div: 
 - make padding and margin - width - height

*/

/* .test-sec {
  background-color: red;
  width: 100px;
  height: 200px;
  padding: 20px;

}  */

/* .test-span {
  background-color: red;
   width: 100px;
    height: 200px;
   padding: 20px;
} */
/* .test-sec-three{
  background-color: red;
  width: 100px;
   height: 200px;
   display: none; 
   visibility: hidden;
} */

/***************************************/
/* .visibility-sec {
    background-color: red;
    margin: 10px 0;
    visibility: hidden;
} */
/***************************************/
.sec-one {
  width: 100px;
  height: 100px;
  padding: 15px;
  margin: 12px 0;
  color: #fff;
}

.sec-one {
  background-color: red;
}
.sec-one .different-font {
  font-size: 40px;
}

#parent .different-font .child-three .child-four {
  color: blue;
}
/***************************************/
/* .nesting-sec h2 {
  background-color: green;
  color: red;
  padding: 20px 45px;
}
.nesting-sec .special {
  color: yellow;
} */
/****************width & min-width & max-width & height & min-height  & auto***********************/
.dimension-sec {
  background-color: red;
  padding: 10px;
  /* display: inline-block;
  max-width: 500px;
  max-width: 400px;
  width: 500px;
  min-height: 300px; */
}

/***************overflow************************/
/* .overflow-sec {
  width: 500px;
  height: 250px;
  background-color: #EEE;
  margin: 20px auto;
  border-radius: 6px;
  overflow: scroll;
}  */
/****************text-shadow & text colors & shadows & decorations***********************/
.shadow-sec {
  background-color: #eee;
  color: red !important;
  text-shadow: 2px 0px 4px green;
  text-decoration: underline;
  box-shadow: 2px 0px 4px #e4e4e4;
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.color-blue {
  color: blue;
}
/***************************************/

/*****************
- spaces
- inheritance
- font & typographic
- cursors
**********************/
/* .text-spaces-sec {
  background-color: #f9f9f9;
  word-spacing: 5px;
  letter-spacing: 3px;
} */

/* .inheritance-sec p{
  color: green;
} */

/* .typographic-sec {
  font-family: "Rubik", sans-serif , Times, serif;
  background-color: #EEE;
  padding: 10px;
}
.typographic-sec h2:hover{
  cursor: pointer;
} */
/****************floating & clear***********************/
.blogs {
  background-color: green;
  padding: 10px;
  /* overflow: hidden; */
  /* height: 100px; */
}
.blogs .article {
  padding: 10px;
  text-align: center;
  background-color: #333;
  color: red;
  margin-bottom: 5px;
  display: inline-block;
  width: 25%;
  float: left;
  height: 35px;
  box-sizing: border-box;
}
.blogs .article a {
  color: red;
}
.clear {
  clear: both;
}
/* 
.blogs .article {
  padding: 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
  width: 25%;
  display: inline-block;
  float: left;
}
*/
.clear {
  clear: both;
}

/****************** position *********************/
/* to make this make height with 4000px for the body */
.element-one,
.element-two {
  width: 100px;
  height: 200px;
  padding: 10px;
}

.element-one {
  background-color: green;
  /* margin-top: 200px; */

  /* position: static;
  top: 200px; */

  /* position: relative;
  top: 100px; */

  /* position: absolute;  */
    /* left: 20px; */
 
}
.element-two {
  background-color: blue;
}

.main-wrapper {
  width: 800px;
  height: 400px;
  background-color: purple;
  position: relative;
}
.parent-sec {
  width: 500px;
  height: 350px;
  background-color: red;

  /* position: relative; */
}
.product-one {
  width: 100px;
  height: 200px;
  padding: 10px;
  background-color: green;
}

/* .element-fixed {
  position: fixed;
  width: 100px;
  height: 200px;
  background-color: darkorchid;
  bottom: 0px;
  right: 0px;
} */

 .banner-sec {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: rgb(21, 46, 239);
  color: #fff;
}
.banner-sec img{
  
  height: 248px;
}
.element-sticky {
  position: sticky;
  width: 100%;
  height: 50px;
  background-color: rgb(115, 239, 21);
  color: #333;
  top: 0px;
} 
/******************* z-index ********************/
.section-one,
.section-two,
.section-three {
  width: 150px;
  height: 50px;
  color: #fff;
  padding: 10px;
  position: absolute;
  text-align: center;
}
.section-one {
  background-color: red;
  /* top: 25px;
  left: 50px;
  z-index: 3; */
}
.section-two {
  background-color: green;
  /* top: 10px;
  left: 30px; */
}
.section-three {
  background-color: blue;
}
/******************* opacity ********************/
.sec-opacity {
  background-color: red;
  color: #333;
  margin-bottom: 20px;
  /* opacity: 0.1; */
}
.sec-opacity-two {
  background-color: rgb(255 0 0);
  /* background-color: rgb(255 0 0 / 0.1); */
}
/******************* Lists Styling ********************/
.lists-style {
  list-style: urdu;
}

/* .lists-style li {
  background-color: red;
  list-style-position: inside;
} */

/* .lists-style li {
  background-color: red;
  list-style-image: url(../images/icons/icon@2x.jpg);
} */

/* .lists-style {
  list-style: none;
  padding: 0px;
  margin: 0px;
} */
/******************* table style ********************/

.section-table {
  width: 100%;
  border: 1px solid #eee;
  /* border-spacing: 1; */
}
.section-table td {
  padding: 15px;
  /* background-color: #eee; */
  /* border: 1px solid #CCC; */
}
/*
.section-table thead td {
  background-color: #f44336;
  color: #FFF;
} */
/******************* css units ********************/
/* default font-size for page is 16px*/
/* 
- px 
-em : time 
-rem : root element 
-vw: viewport width (good for responsive)
-% : percentage  from the parent element
*/
.units-sec .child-one {
  background-color: red;
  text-align: center;
  width: 300px;
  height: 100px;

  font-size: 20px;
}

/* .units-sec .child-one span {
  font-size: 2em;
} */

/* html {
  font-size: 100px;
}

body {
  font-size: 50px;
}

.units-sec .child-one span {
  font-size: 2rem;
} */

/* .units-sec .child-one span {
  font-size: 100%;
}  */

/* resize the browser */

/* .units-sec .child-one {
  font-size: 3vw;
}  */
/******************* variables ********************/
/* global & local variables & fullback */
:root {
  --mainBackground: #eee;
  --paddingSections: 10px;
  --fontSizing: 17px;
  --greenBk: green;
  --yellowBk: yellow;
  --blueBk: blue;
}

.variables-sec {
  background-color: #eee;
  padding: 10px;
  /* background-color: var(--mainBackground, purple); */
}

.variables-sec .child-one {
  background-color: red;
  font-size: 20px;
  padding: 10px;
}

.variables-sec p {
  background-color: green;
  font-size: 17px;
  padding: 10px;
}
.variables-sec .child-two {
  background-color: yellow;
  font-size: 17px;
  padding: calc(10px + var(--paddingSections));
}
.variables-sec .child-two span {
  color: blue;
  font-size: 17px;
  padding: 10px;

  /* --mainBackground: red;
  background-color: var( --mainBackground); */
}
/******************* Pseudo Classes : ********************/
.menu-url {
  color: red;
  text-decoration: none;
}

.menu-url:hover {
  color: green;
  text-decoration: underline;
}

.menu-url:visited {
  color: blue;
}
 
.accept-terms:checked + label {
  color: blue;
  display: none;
} 


.empty-paragraph:empty {
  width: 100px;
  height: 200px;
  background-color: darkorchid;
}


.user-name {
  border: 5px solid green;
}

.user-name:focus {
  border: 5px solid red;
  outline: none;
} 

/******************* Pseudo element :: ********************/
.about-us::first-letter {
  display: inline-block;
  background-color: green;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

 .more-info::first-line {
  font-weight: bold;
  color: yellow;
  background-color: green;
}

.about-us::selection {
  background-color: red;
  color: #333;
}  

.element-info {
  background-color: #c9c9c9;
  padding: 10px;
  width: 500px;
  position: relative;
  float: left;
  margin: 50px;
}
.element-info::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  right: -5px;
  top: 0px;
  background-color: red;
}

.element-info::before {
  content: "";
  position: absolute;
  background-color: #eee;
  width: 30px;
  height: 30px;
  left: -15px;
  top: 60%;
  margin-top: -30px;
  border-width: 10px;
  border-style: solid;
  border-color: red green yellow blue;
}
 
/* .element-info::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 0px;
  height: 0px;
  left: -20px;
  top: 70%;
  margin-top: -30px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent green transparent transparent;
} */
/*****************box -modal********************/
.parent-box {
  background-color: #eee;
  width: 600px;
  padding: 10px;
  /* overflow: hidden; */
}

.parent-box .child-one,
.parent-box .child-two {
  background-color: red;
  width: 50%;
  float: left;

  padding: 10px;
  border: 10px solid #333;
  box-sizing: content-box;
  height: 50px;

  /* box-sizing: border-box; */
}

/***************** flex-box **********************/


/* float (try to make html {direction: rtl;} ) */
/* .flex-parent {
  background-color: #eee;
  width: 500px;
  padding: 10px;
  margin: 20px auto;
  overflow: hidden;
}

.flex-parent .flex-child {
  background-color: red;
  color: #fff;
  text-align: center;
  width: 25%;
  float: left;
  height: 50px;
  padding: 10px;
} */

/* 
default values for properties for parent selector : 
  -display: flex; 
  -flex-direction: row, row-reverse, column, column-reverse;
  -flex-wrap: nowrap, wrap, wrap-reverse ;
  -flex-flow: row  wrap;
  -justify-content: flex-start, flex-end;
  -align-items: stretch, flex-start, flex-end;
  - align-items: stretch, flex-end, flex-end;
default values for properties for child selector : 
  - flex-grow:0;
  - flex-shrink:1;
  - order: 0;
  - flex-basis: auto;

default values for flex: [flex grow 0, flex shrink 1, flex basic auto]
*/
/* flex (try to make html {direction: rtl;} ) */
.flex-parent {
  background-color: #eee;
  width: 500px;
  padding: 10px;
  margin: 20px auto;
  display: flex;

  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* flex-flow: row  wrap; */

  /* uncomment div 5 in html */
  /* flex-wrap: wrap; */
  /* justify-content: center; */

  /* make calc width for child with 100px */
  /* flex-wrap: nowrap;
  justify-content: space-between; */

  /* flex-wrap: nowrap;
  justify-content: space-around; */

  /* flex-wrap: nowrap;
  justify-content: space-evenly; */

  /* align-items: center;
  height: 300px; */

  height: 400px;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  /* align-content: flex-start; */

  /* flex-direction: column; */
}

.flex-parent .flex-child {
  background-color: red;
  color: #fff;
  text-align: center;
  width: calc(100% / 5);
  height: 50px;
  padding: 10px;
  /* margin-right: 2px; */
}

/* align items*/
/* .flex-parent .flex-child {
  background-color: red;
  color: #fff;
  text-align: center;
  width: 25%;
  padding: 10px;
  height: 50px;
} */

/* align-content */
/* .flex-parent .flex-child {
  background-color: red;
  color: #fff;
  text-align: center;
  width: 25%;
  padding: 10px;
  height: 50px;
}  */

/* Grow, Shrink, Order */
.flex-parent .flex-child {
  background-color: red;
  color: #fff;
  text-align: center;
  width: 40px;
  padding: 10px;
  margin-right: 10px;
  height: 50px;

  flex-grow: 1;
}

/* .flex-parent .flex-child.two{
  background-color: green !important;
  flex-grow: 3;
} */

/* remove  flex-grow: 1; from the  .flex-child  to test shrink*/
/* .flex-parent .flex-child.two{
  background-color: blue  !important;
  flex-shrink: 3;
}   */

/* .flex-parent .flex-child.two{
  background-color: blue !important;
  order: 1;
}   */

/* Flex Basis, Flex Shorthand */
/* .flex-parent .flex-child {
  background-color: red;
  color: #fff;
  text-align: center;
  width: 40px;
  padding: 10px;
  margin-right: 10px;
  height: 50px;
} */

/* flex-basis: */
/* flex-basis: respect the max-width */
/* make the flex-direction: column;  to the parent*/
/* .flex-parent .flex-child.two {
  background-color: blue;
  width: 200px; 
  flex-basis: 200px;
 
} */

/* .flex-parent {
  display: inline-flex;
} */

/* .flex-parent {
  height: 300px;
} */
/* remove the hight from .flex-parent .flex-child 
OR: 
give .flex-parent .flex-child.two: height: auto;
*/
.flex-parent .flex-child.two {
  /* background-color: blue; */
  /* align-self: stretch; */
  /* height: auto; */
}

/***************** grid **********************/
/* 
default values for properties for parent selector : 
  - display: grid || inline-grid; 
  - grid-template-columns: is the number of columns with [px, %, auto, repeat, or mix between all of them, fr]
  - grid-template-row: is the number of columns with [px, %, auto, repeat, or mix between all of them, fr]
  
default values for properties for child selector : 
 

 */
.grid-parent {
  background-color: #eee;
  width: 500px;
  padding: 10px;
  margin: 20px auto;
  display: grid;
  /* grid-template-columns: repeat(5, auto); */
  /* grid-template-columns: 20px 30px 1fr 1fr 1fr; */
  /* try : grid-template-columns: auto auto 1fr 1fr; */

  /* grid-template-rows: 300px auto; */
  grid-template-columns: repeat(4, 1fr);
  /* row-gap: 10px;
  column-gap: 10px; */
  gap: 10px 10px;
}

.grid-parent .grid-child {
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 10px;
  /* height: 50px; */
}
.grid-parent .grid-child.one {
  background-color: red;
}
.grid-parent .grid-child.two {
  background-color: green;
}
.grid-parent .grid-child.three {
  background-color: blue;
}
.grid-parent .grid-child.four {
  background-color: yellow;
}
.grid-parent .grid-child.five {
  background-color: purple;
}

/*Justify Content And Align Content*/
.grid-parent {
  background-color: #eee;
  width: 500px;
  height: 350px;
  padding: 10px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);;
  gap: 10px 10px;
  justify-content: flex-end;
  align-items: flex-start;
}
/***************** media-query**********************/
.media-parent {
  position: relative;
  display: flex;
  width: 1200px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
}
.media-parent .media-child {
  background-color: red;
  color: #fff;
  text-align: center;
  width: calc(100% / 3);
  padding: 10px;
  height: 50px;
}

/* @media (max-width: 980px) {
  .media-parent .media-child {
    background-color: green;
    color: #fff;
  }
} */

/* @media (min-width: 980px) {
  .media-parent .media-child {
    background-color: blue;
    color: #fff;
  }
} */

/* @media (min-width: 980px) and (max-width:1100px){
  .media-parent .media-child {
    background-color: purple;
    color: #fff;
  }
} */

/* mobile screen */
@media (max-width: 767px){
  .media-parent .media-child {
    background-color: purple;
    color: #fff;
  }
}

/* small screen */
@media (min-width: 768px){
  .media-parent .media-child {
    background-color: red;
    color: #fff;
  }
}
/* OR Make this with range */
@media (min-width: 768px) and (max-width: 991px){
  .media-parent .media-child {
    background-color: magenta;
    color: #fff;
  }
}

/* medium screen */
@media (min-width: 992px){
  .media-parent .media-child {
    background-color: blue;
    color: #fff;
  }
}

/* large screen */
@media (min-width: 1200px){
  .media-parent .media-child {
    background-color: green;
    color: #fff;
  }
}

/* @media print {
  .media-parent .media-child {
    font-size: 40px;
  }
} */
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/***************************************/
